.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; */
}

.task-container {
  flex-basis: 100%;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  transition: all 0.3s ease;
}

.task-container.empty {
  border: 3px dashed var(--font-color);
  border-radius: 0.5em;
}

.column::-webkit-scrollbar {
  display: none;
}

.column .title {
  color: var(--font-color);
  font-weight: 700;
  font-size: 0.79rem;
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 0.5em;
}
.column p::before {
  content: "";
  height: 11px;
  width: 11px;
  background-color: rgb(226, 162, 43);
  border-radius: 50%;
}
.column:nth-of-type(2n) p::before {
  background-color: rgb(43, 226, 131);
}
.column:nth-of-type(3n) p::before {
  background-color: rgb(0, 158, 186);
}
.column:nth-of-type(1) p::before {
  background-color: blueviolet;
}
.column:nth-of-type(2) p::before {
  background-color: rgb(43, 107, 226);
}
.column:nth-of-type(3) p::before {
  background-color: rgb(70, 226, 43);
}
.column:nth-of-type(4) p::before {
  background-color: rgb(226, 43, 86);
}
.column:nth-of-type(5) p::before {
  background-color: rgb(198, 226, 43);
}
.column:nth-of-type(6) p::before {
  background-color: rgb(98, 60, 201);
}
.column:nth-of-type(7) p::before {
  background-color: rgb(255, 18, 18);
}
.column:nth-of-type(8) p::before {
  background-color: rgb(43, 226, 195);
}

.task {
  background-color: var(--task-card);
  padding: 0.8em;
  border-radius: 0.5em;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.042);
}
.task .task-title {
  color: var(--font-main);
  font-weight: 400;
  font-size: 0.85rem;
  padding: 0.2em 0;
}
.subtask-count {
  color: #696f7e;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.2em 0;
}
