.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  gap: 0.3em;
  padding: 1em;
  background-color: var(--background-accent);
  width: 100%;
  height: 10vh;
  color: var(--font-main);
  border-bottom: 1px solid var(--font-color);
  transition: all 0.3s ease;
}
.mobile.overlay {
  display: none;
}
.mobile-drop-menu {
  display: none;
}
.header .logo {
  display: none;
}
.header h1 {
  flex-basis: 100%;
  font-size: 1.45rem;
  font-weight: 600;
}
.mobile-drop-btn {
  display: none;
}
.header .addTask-btn {
  white-space: nowrap;
  color: var(--font-selected);
  background-color: var(--accent-color);
  padding: 0.7em 1.1em;
  border-radius: 2em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header button:hover {
  opacity: 0.85;
}
.header .menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header svg {
  height: 25px;
  color: var(--font-color);
}
.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.dropdown {
  position: absolute;
  top: 8.4vh;
  right: 1em;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 1.2em 1em;
  background-color: var(--background);
  border-radius: 0.4em;
  box-shadow: 0 0 5px 1px rgba(195, 195, 195, 0.068);
}
.dropdown button {
  text-align: left;
  width: 9em;
  color: var(--font-color);
  padding: 0.2em 1em 0.2em 0;
  cursor: pointer;
}
.dropdown button:nth-of-type(2) {
  color: var(--red);
}
.dropdown button:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .mobile.overlay {
    display: block;
  }
  .header .logo {
    display: flex;
    padding: 0.25em;
  }
  .header .addTask-btn {
    padding: 0.7em 1.5em;
  }
  .header h1 {
    font-size: 1.25rem;
    flex-basis: 0%;
    white-space: nowrap;
  }
  .header .addTask-btn span {
    display: none;
  }
  .mobile-drop-btn {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }
  .mobile-drop-btn button svg {
    color: var(--font-main);
  }
  .mobile-drop-btn button {
    padding: 0.5em 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-drop-menu {
    background-color: var(--background-accent);
    position: absolute;
    top: 8.3vh;
    left: 1em;
    width: min(calc(300px - 2em), calc(100% - 2em));
    min-width: 280px;
    min-height: 350px;
    box-shadow: 0 0 55px 7px rgba(160, 160, 160, 0.159);
    border-radius: 0.35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999999;
  }
  .mobile-drop-menu .board-name svg {
    height: 16px;
  }
  .mobile-drop-menu .board-name.active svg {
    color: white;
  }
}

@media only screen and (max-width: 310px) {
  .header .logo {
    display: none;
  }
  .header h2 {
    font-size: 1rem;
  }
}
