* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}
*::-webkit-scrollbar {
  display: none;
}

.App.dark {
  --background: #21212d;
  --background-accent: #2c2c37;
  --accent-color: #645fc6;
  --font-color: #848b9c;
  --font-main: white;
  --font-selected: white;
  --task-card: rgba(255, 255, 255, 0.086);
  --add-col-btn: white;
  --red: rgb(221, 69, 69);
}
.App.light {
  --background: #ecf1ff;
  --background-accent: white;
  --accent-color: #645fc6;
  --font-color: #848b9c;
  --font-main: black;
  --font-selected: white;
  --task-card: rgba(255, 255, 255, 0.582);
  --modal-background: #2c2c37;
  --add-col-btn: #ecf1ff;
  --red: rgb(221, 69, 69);
}
.App {
  display: flex;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}
.App .main {
  flex-basis: 100%;
  width: max(calc(100% - 100vw), calc(100% - 300px));
}
